.mainmenu {
    height: 100px;
    width: 1920px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .logo {
        font-size: 30px;
        font-weight: 700;

        &:hover {
            color: $color-dark-1;
            text-decoration: none;
        }
    }

    .menu-links {
        margin-left: 7rem;

        .menu-link {
            margin: 1rem;

        }

        .active {
            color: $color-theme;
            text-decoration: none;
        }
    }

    .menu-icons {
        display: flex;

        .menu-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $color-white;
            box-shadow: 0px 0px 10px 0px rgb(201, 201, 201);
            height: 35px;
            width: 35px;
            margin: 0.5rem;
            border-radius: 50%; 
            transition: all 0.1s ease-in-out;

            &:hover {
                color: $color-white;
                background-color: $color-dark-1;
                text-decoration: none;
                box-shadow: 0 0 6px 4x $color-shadow;
            }
        }

        .active {
            color: $color-white;
            background-color: $color-dark-1;
            text-decoration: none;
            box-shadow: 0 0 6px 4x $color-shadow;
        }

        span {
            margin-left: 50px;
            margin-bottom: 10px;
        }
    }
}