.btn-theme {
    position: relative;
    text-align: center;
    width: 100%;
    background-color: $color-theme;
    color: $color-white;
    font-weight: 500;
    padding: 20px 50px;
    transition: all 0.2s ease-in-out;
    border: none;

    .corner-left {
        position: absolute;
        height: 20px;
        width: 20px;
        top: 10px;
        left: 10px;
        border-left: 1px solid $color-white;
        border-top: 1px solid $color-white;
    }
    .corner-right {
        position: absolute;
        height: 20px;
        width: 20px;
        top: 17px;
        left: 223px;
        border-right: 1px solid $color-white;
        border-bottom: 1px solid $color-white;
    }

    &:hover {
        color: $color-white !important;
        background-color: $color-dark-1;
        text-decoration: none;
    }
}